.logo{
  width: 125px;
}
.main-footer ul {
  list-style-type: none;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: absolute;
  bottom: 0px;
}

.tituloDeSerie {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    color: white;
    display: none;
}

.vote {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  color: white;
  display: none;  
}

.contenedorDeSerie {
  position: relative;
}
