.logo{
  width: 125px;
}
.generitos {
  list-style-type: none;
  background-color: #0b2f18;
  padding-top: 5%;
  text-align: center;
  font-variant: all-small-caps;
  font-weight: 350;
  font-stretch: extra-condensed;
  margin:0 auto;
}

#divider {
  padding-bottom: calc(7px);
  border-bottom: calc(4px) solid #65d57599;
}


/* ================
INICIO FOOTER
================ */

.footer {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center
}

.footer a.uk-icon {
  margin-right: 15px;
}

.Nies{
  padding-top: 20px;
  padding-left: 13px
}
.Clara{
  padding-left:19px;
  margin-right: 19px
}

img.logofooter {
  height: 40px;
  margin-left: 30px;
}

/* ================
FINAL FOOTER
================ */


.CAJITAS{
  width: 25%;
  text-align: center;
  background-color: #D6D5D569;
  padding-top: 42px;
  padding: 1%;
  margin: auto;
  margin-bottom: 20px;
  font-weight: 300;
}

.contenedor-cajitas {
  flex-wrap: wrap;
  justify-content: space-between;
}

h1.uk-heading-divider{
  text-align: center;
  font-weight: 200;
  font-size:40px;
}
