.logo{
  width: 125px;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;

}
.Nies{
  padding-top: 20px;
  padding-left: 13px
}
.Clara{
  padding-left:19px;
}

.logofooter {
    width: 122px;
    height: 51px;
    padding-left: 9px;
    padding-right: 16px;
    padding-top: 13px;
    margin-left: 55px;
}
.CAJITAS{
  width: 300px;
  height: 300px;
  text-align: center;
  background-color: #D6D5D569;
  padding-top: 42px;
  padding: 20px;
  margin: auto;
  margin-top: 20px;
  font-weight: 300;
}
h1.uk-heading-divider{
  text-align: center;
  font-weight: 200;
  font-size:40px;
}
